
<%- include('../../partials/header') %>


    <form id="form1" action="/profiles/instructor/home/?_method=PUT" method="POST">
        <section class="allapp">
            <div class="app">
                <label for="location">Edit Location:</label>
                <input type="text" id="location" name="location" placeholder="Enter City/State"
                    autocomplete="country-name" autocapitalize="words">
                <label for="bio">Update Bio:</label>
                <textarea autocapitalize="sentences" id="bio" name="bio" cols="15"
                    rows="10">Tell us about yourself</textarea>
            </div>
            <div class="app">
                <label for="instruments">Update/Add Instruments:</label>
                <select id="instruments" name="instruments" multiple="3">
                    <% instruments.forEach(function(i) { %>
                        <option value="<%= i._id %>">
                            <%= i.name %>
                        </option>
                        <% }) %>
                </select>

                <label for="genres">Styles Taught:</label>
                <select id="genres" name="genres" multiple>
                    <option value="R&B">R&B</option>
                    <option value="FUNK">Funk</option>
                    <option value="JAZZ">Jazz</option>
                    <option value="POP">Pop</option>
                    <option value="ROCK">Rock</option>
                    <option value="BOSSA">Bossa Nova</option>
                </select>
                <label for="budget">Budget: </label>
                <input type="number" name="budget" id="budget">
            </div>
        </section>
        <button type="submit">UPDATE</button>
    </form>



    <%- include('../../partials/footer') %>