<%- include('../../partials/header-main') %>

<%- include('../../partials/instructor') %>

<section id="show-page">
    <div>Location: </div>
    <div>ejs instructor location here</div>
    <div>Bio: </div>
    <div>EJS INSTRUCTOR BIO </div>
    <div>Instruments </div>
    <div>EJS INTRUMENTS HERE</div>
    <div>genres </div>
    <div>EJS GENRES</div>
   


    <%- include('../../partials/nav-footer') %>