<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>SoulSearch</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-text navbar-nav navbar-nav-scroll navbar-expand-sm bg-transparent">
    <div class="" id="maindiv">
      <div><a href="/"><img id="logo" src="/images/LOGO.png" s alt="LOGO"></a></div>
      <% if (user) { %>
        <% if (profile && !profile.isInstructor) { %>
          <a class="soul" href="/">SoulSearch</a>     
            <a class="about" href="/about">ABOUT US</a>
            <a class="contact" href="/contact">CONTACT</a>
            <a class="home" href=/profiles/student/<%=profile._id %>>VIEW PROFILE</a>
            <a class="logout" href="/logout" class="login">LOG OUT</a>
          <% } else if (profile && profile.isInstructor) { %>
            <a class="soul" href="/">SoulSearch</a>
            <a class="about" href="/about">ABOUT US</a>
            <a class="contact" href="/contact">CONTACT</a>
            <a class="home" href=/profiles/instructor/<%=profile._id %>>VIEW PROFILE</a>
            <a href="/logout" class="login">LOG OUT</a>

            <% } else { %>
              <% } %>

                <% } %>
                  <% if (!user) { %>
                    <!-- <img id="logo" src="/images/LOGO.png" s alt="LOGO"> -->
                    <a class="soul" href="/">SoulSearch</a>
                    <a class="about" href="/about">ABOUT US</a>
                    <a class="contact" href="/contact">CONTACT</a>
                    <a href="/auth/google" class="login">LOG IN<img src="https://i.imgur.com/FHjYyi0.png"></a>

                    <% } %>
                      </ul>
  </nav>
  <main>