<body>
    <div>
        <div>
            <div>
                <div>
                    <aside>
                        <nav>
                            <div>
                                <% if (user && profile) { %>
                                    <h2>
                                        <%= profile.name %>
                                    </h2>
                                    <% } %>
                            </div>
                            <div>
                                <!-- <img id="logo" src="/images/LOGO.png" s alt="LOGO"> -->
                                <a class="soul" href="/">SoulSearch</a>
                                <a class="about" href="/about">ABOUT US</a>
                                <a class="contact" href="/contact">CONTACT</a>
                                <a class="home" href=/profiles/instructor/<%= profile._id %>>VIEW PROFILE</a>
                                <a class="instruments" href="/instruments">ADD INSTRUMENTS</a>
                                <a href="/logout" class="login">LOG OUT</a>
                            </div>
                        </nav>
                        <section>
                            <div>
                                <div></div>
                            </div>
                        </section>
                    </aside>
                    <main>