<body>
    <div>
        <div>
            <div>
                <div>
                    <aside>
                        <nav>
                            <div>
                                <div>avi</div>
                                <% if (user && profile) { %>
                                    <h2>
                                        <%= profile.name %>
                                    </h2>
                                    <% } %>
                            </div>
                            <div>
                                <a href="/about">About</a>
                                <img src="" alt="">
                                <a href="/contact">Contact</a>
                                <img src="" alt="">
                            </div>
                        </nav>
                        <section>
                            <div>
                                <div></div>
                            </div>
                        </section>
                    </aside>
                    <main>