<!DOCTYPE html>
<html class="new-head" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>SoulSearch</title>
</head>

<body>
  <nav class="landing-nav">
    <div id="maindiv">
      <ul>
        <% if (user) { %>
            <a style='color:white' class="soul" href="/">SoulSearch</a>
            <a style='color:white' class="about" href="/about">ABOUT US</a>
            <a style='color:white' class="contact" href="/contact">CONTACT</a>
            <a style='color:white' href="/logout" class="login">LOG OUT</a>

            <% } %>
      </ul>
    </div>
  </nav>
  <main>