<%- include('../partials/header') %>

    <form action="/profiles/instructor/home?_method=PUT" method="POST">
        <label for="bio">BIO</label>
        <textarea name="bio" id="bio" cols="30" rows="10">EDIT BIO</textarea>
    </form>


    <%- include('../partials/footer') %>