<%- include('../partials/header') %>

    <h1>Instructor</h1>

    <form id="form1" class="profile-form" action="/profiles/instructors" method="POST">
        <section>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter your username" name="username" form="from1">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" placeholder="Enter City/State"
                    autocomplete="country-name" form="form1">
            </div>
            <div>
                <label for="instruments">Instruments</label>
                <input id="instruments" type="hidden" name="instruments" min="1" max="3" form="form1">
                <select id="instruments" name="instruments">
                    <option value="">Piano</option>
                    <option value="">Guitar</option>
                    <option value="">Percussion</option>
                    <option value="">Bass</option>
                    <option value="">Saxophone</option>
                    <option value="">Trumpet</option>
                </select>

                <label for="genres">Styles Taught</label>
                <input id="genres" type="hidden" form="form1">
                <select id="genres" name="genres">
                    <option value="">R&B</option>
                    <option value="">Funk</option>
                    <option value="-13">Jazz</option>
                    <option value="">Pop</option>
                    <option value="">Rock</option>
                    <option value="">Bossa Nova</option>
                </select>
                <label for="budget">Budget</label>
                <input type="number" name="budget" id="budget" min="1" step="any" form="form1">
                <label for="available">Availablity</label>
                <input id="available" type="datetime-local" name="availablity" min="2" max="5" form="form1">
            </div>
        </section>
        <input type="submit" value="Submit">
    </form>


    <%- include('../partials/footer') %>