<%- include('../partials/header') %>

    <h1>Student</h1>

    <form id="form2" class="create-student-profile" action="/profiles/student" method="POST">
        <section>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter your username" name="username" form="form2">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" placeholder="Enter Location"
                    autocomplete="country-name" form="form2">
            </div>
            <div>
                <label for="instruments">Instruments</label>
                <input id="instruments" type="hidden" name="instruments" min="1" max="3" form="form1">
                <select id="instruments" name="instruments">
                    <option value="">Piano</option>
                    <option value="">Guitar</option>
                    <option value="">Percussion</option>
                    <option value="">Bass</option>
                    <option value="">Saxophone</option>
                    <option value="">Trumpet</option>
                </select>
                <label for="interest">Interest</label>
                <textarea name="interest" id="interest" cols="30" rows="10" placeholder="Place Interest Here"></textarea>
            </div>
        </section>
        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer') %>