<%- include('../partials/header') %>

<!-- <form action="/profiles/new" method="POST"> -->
    <!-- <input type="text" value="some_id" name="some_name" /> -->
    <section>
        <div>
            <h1>CHOSE ROLE</h1>
        </div>
        <div>
            <div>
            <form action="/profiles/instructors" method="POST">
                <button>INSTRUCTOR</button>
                <button>?</button>
            </form>
            </div>
            <br>
            <div>
            <form action="/profiles/students" method="POST">
                <button>STUDENT</button>
                <button>?</button>
            </form>
            </div>
        </div>
    </section>
<!-- </form> -->
    <!-- <input type="submit" name="save" value="Save" form="formID" /> -->


<!-- <script onclick="instructor();" src="/javascripts/instructor.js"></script>
<script onclick="student();" src="/javascripts/student.js"></script> -->

<%- include('../partials/footer') %>