<%- include('../partials/header') %>

<form action="/profiles/new" method="POST">
    <!-- <input type="text" value="some_id" name="some_name" /> -->
    <section>
        <div>
            <h1>CHOSE ROLE</h1>
        </div>
        <div>
            <div>
                <button>INSTRUCTOR</button>
                <button>?</button>
                <script></script>
            </div>
            <br>
            <div>
                <button>STUDENT</button>
                <button>?</button>
                <script></script>
            </div>
        </div>
    </section>
    <!-- <input type="submit" name="save" value="Save" form="formID" /> -->
</form>


<%- include('../partials/footer') %>