<%- include('../partials/header') %>

    <section>
        <div>
            <h1>CHOSE ROLE</h1>
        </div>
        <div>
            <div>
                    <a href="/profiles/instructors"><button>INSTRUCTOR</button></a>
                    <button>?</button>
            </div>
            <br>
            <div>
                    <a href="/profiles/students"><button>STUDENT</button></a>
                    <button>?</button>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>