<%- include('../partials/header') %>

    <section>
        <div>
            <h1>CHOSE ROLE</h1>
        </div>
        <div>
            <div>
                <% if (user) { %>
                <form action="/profiles/instructors" method="POST">
                    <button>INSTRUCTOR</button>
                    <button>?</button>
                </form>
            </div>
            <br>
            <div>
                <%} else {%>
                <form action="/profiles/students" method="POST">
                    <button>STUDENT</button>
                    <button>?</button>
                </form>
                <% } %>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>