<%- include('../../partials/new-head') %>


    <section class="signup">

        <h1 class="role">CHOSE ROLE</h1>

        <div class="new-role">
            <div class="newInstr">
                <a href="/profiles/new/instructor"><button class="create-new">INSTRUCTOR</button></a>
            </div>

            <div class="newStu">
                <a href="/profiles/new/student"><button class="create-new">STUDENT</button></a>
            </div>
        </div>
    </section>

    <%- include('../../partials/footer') %>