<%- include('./partials/header') %>

<h1>About Soul Search</h1>

<p>Soul Search was created to bridge the gap between budding musicaians and interested teachers.</p>

<p>Hear at Soul Search we allow students to find the right match for them that will foster continued learning and never-ending growth. Tap in!</p>

<%- include('./partials/footer') %>