<%- include('./partials/header') %>

    <h1>Contact Us</h1>

    <a href="https://github.com/jobaa11">Website</a>

    <a href="mailto:john_alades@yahoo.com">Email</a>

    <a id="click" href="">Text ME!</a>

    <script onclick="textMe()" src="/javascripts/textme.js"></script>

    <%- include('./partials/footer') %>