<%- include('./partials/header') %>

    <h1>Contact Us</h1>
        <div class="contact-links">
            <a class="info" href="https://github.com/jobaa11">Website</a><br>

            <a class="info" href="mailto:john_alades@yahoo.com">Email</a><br>

            <a class="info" id="click" href="">Text ME!</a>
        </div>
    <script onclick="textMe()" src="/javascripts/textme.js"></script>

    <%- include('./partials/footer') %>