<%- include('./partials/header-main') %>


    <form type="submit" action="/instruments" method="POST">
        
        <label for="instruments">Instruments:</label>
        <select id="instruments" name="instruments" multiple="3">
            <% instrument.forEach(function(i) { %>
                <option value="<%= i._id %>">
                    <%= i.name %>
                </option>
                <% }) %>
                <input type="text" name="name" id="add" autocomplete="off" autocapitalize="words">
                <button type="submit" >ADD</button>
    </form>

    <%- include('./partials/footer') %>