<%- include('./partials/header-main') %>

    <% if (user && profile) { %>

        <h1>Welcome To SoulSearch.</h1>
        
        <% } else { %>
            <h1>Welcome To SoulSearch.</h1>
             <a href="/auth/google">CREATE ACCOUNT</a>
            <% } %>
            <%- include('./partials/footer') %>