<%- include('./partials/header') %>

<a href="/profiles/new"><button>CREATE PROFILE</button></a>
<span>Select Profile</span>
<a href="/">PROFILES</a>
<!-- <a href="/"><PROFILE LOG IN></select></a> -->

<%- include('./partials/footer') %>