<%- include('./partials/landing-head') %>

    <% if (user && profile) { %>

        <h1 class="welcome">Welcome To SoulSearch.</h1>
        
        <% } else { %>
            <h1 class="welcome">Welcome To SoulSearch.</h1>
             <a class="landing" href="/auth/google"><button class="create">CREATE ACCOUNT</button></a>
            <% } %>
            <%- include('./partials/footer') %>