<%- include('./partials/header') %>

<a href="/accounts/new">CREATE PROFILE</a>
<!-- <a href="/new"><button>CREATE PROFILE</button></a> -->
<span>Select Profile</span>
<a href="/">PROFILES</a>
<!-- <a href="/"><select><PROFILE LOG IN></select></a> -->

<%- include('./partials/footer') %>