<%- include('./partials/header') %>

<form action="/new">
    <section>
        <div>
            <h1>INSTRUCTOR OR STUDENT?</h1>
        </div>
        <div>
            <div>
                <button>INSTRUCTOR</button>
                <button>?</button>
            </div>
            <br>
            <div>
                <button>STUDENT</button>
                <button>?</button>
            </div>
        </div>
    </section>
</form>

<!-- HTML FOR FORM
FORM (FOR TEACH OR INSTRUCTOR)(COMMON APP REF)
	SECTION
		DIV (FOR TEXT CONTENT)
			HI (SEARCH FOR THE PERFECT MATCH!)
		DIV ( FOR ALL BUTTONS)
			DIV (INSTRUCTOR)
				BUTTON 
				BUTTON (FOR QUESTION MARK)
			DIV (STUDENT)
				BUTTON
				BUTTON (FOR QUESTION MARK)
		DIV (ALREADY HAVE ACCOUNT HREF TO LOGIN -->

<%- include('./partials/footer') %>