<%- include('./partials/header') %>

<form action="/new">
    <section>
        <div>
            <h1>INSTRUCTOR OR STUDENT?</h1>
        </div>
        <div>
            <div>
                <button>INSTRUCTOR</button>
                <button>?</button>
            </div>
            <br>
            <div>
                <button>STUDENT</button>
                <button>?</button>
            </div>
        </div>
    </section>
</form>


<%- include('./partials/footer') %>